@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Animations */
img {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

img.fade-in {
  opacity: 1;
}

img.no-anim {
  opacity: 1;
}

p {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

p.slide-in {
  opacity: 1;
  transform: translateY(0);
}

p.no-anim {
  opacity: 1;
  transform: translateY(0);
}


body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 25.72px;
  background: #fff;
  color: #000000;
}

a,
button {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

label {
  margin-bottom: 0;
}

::selection {
  color: white;
  background: #ff7675;
}

::-webkit-selection {
  color: white;
  background: #ff7675;
}

::-moz-selection {
  color: white;
  background: #ff7675;
}
a {
  cursor: pointer !important;
}
.scrolltotop {
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 0 0;
  background: rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
  padding-top: 8px;
  font-size: 22px;
  color: #ffffff;
  position: fixed;
  right: 5px;
  bottom: 5px;
  display: none;
  transition: 0.2s all ease;
  -webkit-transition: 0.2s all ease;
  -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {
  background: #000;
  color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/*==== nev area start===== */

header {
  width: 100%;
  padding: 50px 0;
  background-color: transparent !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 111111;
  padding-left: 72px;
  padding-right: 55px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo img {
  max-width: 358px;
}

.menu-item ul li a {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-transform: capitalize;
  transition: 0.3s;
}

.menu-item ul li a:hover {
  color: #2c5848;
}

#active {
  color: #2c5848;
}

.menu-bar {
  display: none;
}

.menu-bar a {
  font-size: 30px;
  color: #7f7f7f;
  cursor: pointer;
}

.menu-btn a {
  font-size: 16px;
  font-weight: 600;
  background-color: #22b57e;
  display: inline-block;
  padding: 7px 25px;
  border-radius: 8px;
  color: #fff;
  text-transform: capitalize;
  transition: 0.2s;
  border: 2px solid #22b57e;
}

.menu-btn a:hover {
  background-color: transparent;
  border: 2px solid #22b57e;
}

/*==== nev area end===== */

/*==== sticky-nev start=== */
.fixed-menu {
  background: #000 !important;
  position: fixed;
  top: 0;
  animation: slide-down 0.5s !important;
  left: 0;
  right: 0;
  box-shadow: 4px -86px 103px rgb(0 0 0 / 90%);
  z-index: 250000;
  transition: 0.1s;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fixed-menu .menu-bar a {
  color: #7f7f7f !important;
}

@keyframes slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*==== sticky-nev end=== */

/* ====offcanvas manu start===== */

.offcanvas-header {
  background-color: #2a2a2a;
}

.offcanvas-header h5 img {
  max-width: 100px;
}

.offcanvas-body {
  background-color: #212121;
  padding: 0px !important;
}

.clloss-x {
  font-size: 25px;
  cursor: pointer;
  color: #7f7f7f;
}

.clloss-x:hover {
  color: #fff !important;
}

.offcanvas-start {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11111111111111;
}

.mobile-menu-item ul li a {
  font-size: 16px;
  font-weight: 600;
  color: #999999;
  transition: 0.2s;
  padding: 15px 20px;
  display: block;
  transition: 0.2s;
}

.mobile-menu-item ul li a:hover {
  background-color: #333333;
  color: #e8e8e8;
}

.m-active {
  background-color: #333333 !important;
  color: #e8e8e8 !important;
}

.mobile-menu-item ul li a i {
  font-size: 20px;
  margin-right: 15px;
}

/* ====offcanvas manu end===== */

/* =====hero-area-start===== */
.overflow-hidden {
  overflow: hidden;
}

.hero-area {
  padding: 100px 0 90px;
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  background-color: #000;
  position: relative;
  overflow: hidden;
}
.hero-liness {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  z-index: 11;
}
.hero-area .container {
  max-width: 1519px;
}
.hero-liness img {
  width: 100%;
  z-index: 111;
  position: relative;
  min-height: 370px;
}
.hero-title {
  position: relative;
  z-index: 999;
}
.hero-title h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 151px;
  padding-left: 120px;
  padding-top: 60px;
  font-size: 56px;
  line-height: 120%;
}
.hero-title a {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 18px 50px;
  border: 4px solid #26b0b0;
  transition: 0.3s;
}

.hero-bottom-arrow {
  position: absolute;
  position: absolute;
  bottom: 93px;
  left: 156px;
}

.hero-bottom-arrow img {
  width: 20px;
}

.hero-wrapper {
  padding: 160px 0 60px 0;
}
.hero-left {
  position: relative;
  text-align: center;
}
.hero-arro-2 {
  position: absolute;
  top: -50px;
  right: -60px;
}
.hero-area2 .hero-arro-2 {
  position: relative;
  top: 0px;
  right: 70px;
}

.hero-right {
  margin-top: -190px;
  position: relative;
  text-align: center;
}

.hero-right h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: right;
  color: #ffffff;
  margin-top: 10px;
  padding-right: 69px;
}
.hover-text {
  position: relative;
}
.hover-text p {
  margin-bottom: 0;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  width: 100%;
  background-image: url(../img/bg-shadow.png);
  background-size: 100% 100%;
  opacity: 0;
  transition: all ease 0.6s;
  padding: 30px 35px;
}
.hover-text:hover p {
  opacity: 1;
}
.hero-scroll-bottom {
  text-align: center;
  z-index: 1111111;
}

.hero-scroll-bottom a {
  cursor: pointer;
  z-index: 111111;
  position: absolute;
  display: inline-block;
  width: 100px;
  margin: auto;
}
.h-auto {
  height: auto !important;
}

.h-l-solution-mb {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  text-align: center;
  color: #ffffff;
  transform: rotate(-90deg);
  position: absolute;
  left: -25px;
  top: 53px;
  display: none;
}

/* === News area start == */

.news-area {
  background-color: #fff;
  padding: 130px 0;
}
.news-area .container {
  max-width: 1210px;
}

.news-inner-title h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 800;
  color: #26b0b0;
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 140%;
}

.news-item {
  padding: 50px 60px 40px 50px;
  background-color: #fff;
  border: 6px solid #26b0b0;
  margin-bottom: 50px;
  position: relative;
  transition: 0.2s;
}

.news-item::before {
  content: '';
  width: 200px;
  height: 200px;
  display: block;
  background-image: url(../img/hover1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 40px;
  left: -1%;
  transition: 0.2s;
  visibility: hidden;
  z-index: 1111;
  transition: 0.2s;
}

.news-item:hover::before {
  visibility: visible !important;
  transition: 0.2s;
}

.hover {
  position: relative;
  transition: 0.2s;
}
.hover::before {
  content: '';
  width: 200px;
  height: 200px;
  display: block;
  background-image: url(../img/hover1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  visibility: hidden;
  z-index: 1111;
  transition: 0.2s;
}
.hover:hover::before {
  visibility: visible !important;
  transition: 0.2s;
}

.news-item h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 120%;
}
.news-item span {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  line-height: 150%;
}

.more-news {
  text-align: center;
}

.more-news button {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  text-decoration-line: underline;
  color: #1d1d1b;
  background: none;
  border: none;
  position: relative;
  transition: 0.2s;
}

.more-news button::before {
  content: '';
  width: 180px;
  height: 180px;
  display: block;
  background-image: url(../img/hover1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  visibility: hidden;
  z-index: 1111;
  transition: 0.2s;
}
.more-news button:hover::before {
  visibility: visible;
}

.more-news-item {
  display: none;
}

/* === footer-area-start ==== */

footer {
  background-color: #000;
  padding: 80px 0;
}
footer .container {
  max-width: 1202px;
}
.footer-top-item {
  border: 6px solid #26b0b0;
  padding: 39px 31px;
  max-width: 590px;
}

.footer-top-item h3 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #fff;
  padding-left: 95px;
  margin-top: 20px;
  font-size: 30px;
  line-height: 150%;
}

.footer-item-left {
  text-align: center;
  margin-top: 137px;
}
.footer-item-left img {
  margin-bottom: 30px;
}
.hero-area2.hero-area .hero-img {
  padding-top: 285px;
  margin-bottom: -40px;
  position: relative;
  z-index: 9;
}
.footer-item-left p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  font-size: 30.72px;
  line-height: 150%;
}
.footer-item-right {
  margin-left: 265px;
  position: relative;
}

.footer-item-right span:first-of-type {
  position: absolute;
  top: -90px;
  left: -170px;
  width: 145px;
}
.footer-item-right h6 {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.02em;
}

.footer-item-right p,
.footer-item-right a {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  font-size: 30px;
  line-height: 150%;
}
.footer-item-right a {
  cursor: pointer;
}
.footer-item-right a::before, .req-inner .hover::before {
  width: 105px;
  height: 105px;
  left: 25px;
}

.footer-item-right ul {
  display: flex;
  margin-top: 40px;
}

.footer-item-right ul li a {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 150%;
}
.footer-item-right ul li a::before {
  top: 50%;
  left: 35%;
}
.footer-item-left p span {
  display: none;
}
.hover-text.hover-text02 p {
  left: -125px;
  opacity: 1;
  display: none;
  cursor: pointer;
}
.hover-text.hover-text02:hover p {
  display: block;
}
/*====== page-2-start==== */

.hero-slider-logo {
  margin-top: 100px;
}

.hero-slider-logo img {
  max-width: 91%;
}

.ever-hero-left {
  text-align: center !important;
  padding-right: 115px;
}

.ever-hero-left img {
  width: 310px !important;
  margin: auto;
  display: block;
}
.ever-hero-right {
  margin-left: 51px;
}

.ever-hero-right h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 36px;
  line-height: 130%;
}

.ever-hero-right p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  /* padding-right: 100px; */
  font-size: 28px;
  line-height: 160%;
}
.ever-hero-arro-2 {
  position: absolute;
  top: 9px;
  right: -46px;
}

.ever-hero-arro-2 img {
  width: 245px !important;
}
.WouldYou .hover::before {
  left: 70px;
}
.hero-ecer-slider .owl-theme .owl-dots {
  text-align: center;
  position: absolute;
  top: 62%;
  right: 39%;
}
.hero-ecer-slider .owl-dot button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  margin-right: 8px;
  padding: 0;
  font-family: 'Courier';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: -0.25em;
  color: #ffffff;
}

.hero-ecer-slider .owl-theme .owl-nav {
  position: absolute !important;
  top: 60.5%;
  right: 35.7%;
  width: 160px;
}

.hero-ecer-slider .owlprev {
  font-size: 19px;
  width: 15px;
  height: 15px;
  text-align: center;
  background-image: url(../img/sl-left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  margin-right: 79px;
  background-color: transparent;
}
.hero-ecer-slider .owlnext {
  font-size: 19px;
  width: 15px;
  height: 15px;
  text-align: center;
  background-image: url(../img/sl-right.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
}

.hero-ecer-slider .owl-dot.active button {
  border-bottom: none;
}

/* ===Benefits for users  area start=== */

.benefits-tab-area {
  background-color: #000000;
  padding: 100px 0 150px 0;
}

.benefits-title h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  color: #ffffff;
  margin-bottom: 64px;
}

.benefits-tab-area .tab_wrapper .content_wrapper {
  border: none !important;
}

.benefits-tab-area .tab_wrapper > ul {
  clear: both;
  display: inline-block;
  width: 100%;
  border-bottom: 3px solid #fff !important;
}

.tab_wrapper > ul li {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  border-color: none !important;
  color: #fff;
  /* border: 3px solid #fff; */
  border-bottom: 0px !important;
  border: none !important;
  text-transform: capitalize;
}

.tab_wrapper > ul li.active {
  border-bottom: none !important;
  position: relative;
  border-left: 3px solid #fff !important;
  border-right: 3px solid #fff !important;
  border-top: 3px solid #fff !important;
  color: #26b0b0 !important;
}

.tab_wrapper > ul li.active::before {
  content: '';
  width: 100%;
  height: 5px;
  background-color: #000000;
  display: block;
  position: absolute;
  top: 97%;
  left: 0;
  z-index: 111;
}

.tab-items {
  padding: 60px 30px;
  background-color: #000;
  border: 6px solid #26b0b0;
  text-align: center;
  max-width: 500px;
  margin-bottom: 50px;
  position: relative;
}

.tab-ln-1 {
  position: absolute;
  left: 102%;
  top: 50%;
  z-index: 11;
}

.tab-ln-1 img {
  width: 90px;
}

.tab-ln-2 img {
  width: 160px;
}

.tab-ln-2 {
  position: absolute;
  left: 38%;
  top: 103%;
  z-index: 11;
}

.tab-ln-3 img {
  width: 147px;
}

.tab-ln-3 {
  position: absolute;
  left: 48%;
  top: 103%;
  z-index: 11;
}

.tab-item-center {
  margin: auto !important;
}

.tab-items img {
  margin-bottom: 30px;
}

.tab-items p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  color: #fff;
}

/* .content_wrapper {
    max-width: 1180px !important;
    margin: auto !important;
} */

.tab_content {
  max-width: 1180px !important;
  margin: auto !important;
}

.content_wrapper {
  margin-top: 60px;
}

/* =======mobile design===== */

.bn-m-title h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28.8px;
  color: #ffffff;
  margin-bottom: 15px;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: '';
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  top: 17px;
  left: 20px;
}
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

.benifit-mobile {
  background-color: #000;
  padding: 100px 0;
  display: none;
}

.accordion-item .accordion-button {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  background-color: #000 !important;
  padding: 20px 60px !important;
}

.accordion-item button {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border-left: 0 !important;
  border-right: 0 !important;
}

.accordion-item {
  border: none;
}

.accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
  color: #26b0b0 !important;
}

.accordion-button .collapsed {
  border-bottom: none !important;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: '';
  background-image: url(../img/mobile-bottom.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  top: 22px;
  left: 20px;
  transition: 0.5s !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/mobile-tops.png);
  transform: rotate(0deg);
  transition: 0.5s !important;
}

.accordion-collapse.collapse.show.accordion-item button {
  border-bottom: none !important;
}

.accordion-body {
  padding: 1rem 1.25rem;
  color: #000 aliceblue;
  background-color: #000;
}

.accordion-item {
  border-bottom: 3px solid #fff !important;
}

/* =======mobile design===== */

/* pds-Downloads-area-start */

.pdf-download-area {
  background-image: url(../img/pdf-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  padding: 150px 0;
}

.pdf-don-wrapper {
  max-width: 1000px;
  background-color: #fff;
  margin: auto;
  padding: 60px 90px 80px;
  border: 5px solid #26b0b0;
}

.pdf-don-wrapper ul li {
  display: flex;
  align-items: center;
  padding: 30px 0;
  border-bottom: 2px solid #121111;
}

.pdf-don-wrapper ul li h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}

.pdf-don-wrapper ul li a span {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  display: inline-block;
  padding-left: 20px;
}
.pdf-don-wrapper .hover::before {
  left: 25%;
}
/* Downloads-only-mobile-area-start  */

.mobile-download-area {
  background-image: url(../img/dn-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #fff;
  padding: 60px 0;
  display: none !important;
}

.mobile-don-wrapper {
  max-width: 380px;
  background-color: #fff;
  margin: auto;
  padding: 20px 24px 35px 24px;
  border: 5px solid #26b0b0;
}

.mobile-don-wrapper ul li {
  display: flex;
  align-items: center;
  padding: 18px 0;
  border-bottom: 2px solid #121111;
}

.mobile-don-wrapper ul li h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19.2px;
  color: #000000;
}

.mobile-don-wrapper ul li a span {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #000000;
  display: inline-block;
  padding-left: 24px;
}

/* ===request-demo-area-start==== */

.req-area {
  padding: 300px 0 120px 0;
  background-image: url(../img/Gespräch.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #000;
}

.req-inner h3 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 60px;
  font-size: 56px;
  line-height: 120%;
}

.req-inner h3 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 60px;
}

.req-inner h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 6px;
}

.req-inner a {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-decoration-line: underline;
  color: #ffffff;
}

/* Key Features EverAsk area start  */

.key-features-area {
  background-color: #fff;
  padding: 70px 0 120px 0;
}
.key-features-area .container {
  max-width: 1520px;
}
.key-title h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
  margin-bottom: 30px;
}
.bluresss {
  position: absolute;
  position: absolute;
  top: -217px;
  right: 0;
  z-index: 5;
}

.bluresss img {
  width: 200px;
}

.babu-container {
  position: relative;
  padding-left: calc((100% - 1496px) / 2);
}

/* ================ */

.babu-container .owlprev {
  display: inline-block;
  width: 20px;
  height: 32px;
  background: url(../img/b.png);
  background-size: 100% 100%;
  border: 0;
  outline: none;
  position: absolute;
  bottom: -6px;
  left: -18px;
  z-index: 99999;
}

.babu-container .owlprev:focus,
.babu-container .owlnext:focus {
  outline: none;
  border: 0;
}

.babu-container .owlnext {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/a.png);
  background-size: 100% 100%;
  border: 0;
  outline: none;
  position: absolute;
  bottom: -10px;
  right: -15px;
  z-index: 99999;
}

.babu-container .owlnext {
  display: inline-block;
  width: 20px;
  height: 32px;
  background: url(../img/a.png);
  background-size: 100% 100%;
  border: 0;
  outline: none;
  position: absolute;
  bottom: -6px;
  right: 155px;
  z-index: 99999;
}
.babu-container .owl-dots {
  display: flex;
}

.babu-container .owl-dot,
.babu-container .owl-dot span {
  width: 100% !important;
  display: inline-block;
}

.babu-container .owl-dot:focus,
.babu-container .owl-dot span:focus {
  border: 0;
  outline: none;
}

.babu-container {
  position: relative;
}

.babu-container:after {
  content: '';
  width: 250px;
  height: 100%;
  position: absolute;
  right: 0;
  top: -28px;
  background-image: url(img/blue.png);
  background-size: 100% 100%;
  z-index: 9999;
}

.babu-container .disabled {
  opacity: 0 !important;
}

.babu-container .owl-theme .owl-nav {
  margin-top: 46px !important;
}

.babu-container .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  transition: opacity 200ms ease;
  border-radius: 0px;
}

.babu-container .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot span {
  background: #26b0b0;
}

.key-item-wrapper {
  display: flex;
  align-items: center;
}

.key-left-item {
  width: 50%;
}

.key-left-item img {
  height: 230px;
}

.key-right-item {
  width: 50%;
  padding-left: 30px;
}

.key-right-item h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 36px;
  line-height: 130%;
}
.key-right-item p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  line-height: 150%;
}

.babu-container .owl-dots {
  display: flex;
  max-width: 1520px;
}

/* / EverAsks Mission area-start - */

.everasks-mission-area {
  padding: 70px 0 120px;
}

.ev-mission-left {
  max-width: 450px;
  position: relative;
}

.ev-mission-l-icons {
  position: absolute;
  top: 0;
  right: 0;
}

.ev-mission-l-icons img {
  width: 200px;
}

.ev-mission-left h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  color: #000000;
  margin-bottom: 30px;
}

.ev-mission-left span {
  color: #26b0b0;
}

.ev-mission-right {
  max-width: 450px;
  margin-top: 200px;
  margin-left: 100px;
}

.ev-mission-right h2 {
  font-family: 'Courier';
  font-weight: 600;
  font-size: 70px;
  color: #26b0b0;
  line-height: 60px;
}

.ev-mission-right h4 {
  font-weight: 700;
  font-size: 27px;
  color: #000000;
  margin-bottom: 20px;
}

.ev-mission-right p {
  font-size: 20px;
  color: #000000;
  font-weight: 700;
}

/* ============== */

.everasks-mission-container .owl-theme .owl-dots {
  position: absolute;
  text-align: center;
  position: absolute;
  top: 103%;
  left: 17.7%;
}

.everasks-mission-container .owl-dot button {
  background-color: transparent;
  color: #000;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid #000;
  margin-right: 8px;
  padding: 0;
}

.everasks-mission-container .owl-theme .owl-nav {
  position: absolute !important;
  top: 99.5%;
  left: 15.7%;
}

.everasks-mission-container .owlprev {
  font-size: 19px;
  width: 15px;
  height: 15px;
  text-align: center;
  background-image: url(../img/ms-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  margin-right: 60px;
  background-color: transparent;
}

.everasks-mission-container .owlnext {
  font-size: 19px;
  width: 15px;
  height: 15px;
  text-align: center;
  background-image: url(../img/ms-2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  background-color: transparent;
}

.everasks-mission-container .owl-dot.active button {
  border-bottom: none;
}

.ev-mission-l-icons img {
  width: 220px !important;
}

.ev-mission-l-icons {
  position: absolute;
  top: 27%;
  right: -50%;
}

.menu-language-btn .dropdown-menu {
  background-color: #121111 !important;
  z-index: 999;
}

.dropdown a {
  z-index: 999;
  position: relative;
}

.menu-language-btn .dropdown-item {
  color: #8fcabc;
  background-color: #121111;
  font-size: 20px !important;
  font-weight: 700 !important;
  text-align: center;
}
.menu-language-btn .dropdown-item:focus,
.dropdown-item:hover {
  color: #fff;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #fff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 20px !important;
  font-weight: 700;
}

.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 8rem !important;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: #212529;
  text-align: right !important;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 12px !important;
}

.hero-hover-a {
  position: relative;
}
.hero-hover-a::before {
  content: '';
  width: 200px;
  height: 200px;
  display: block;
  background-image: url(../img/hover1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: -80%;
  left: 22%;
  transition: 0.2s;
  visibility: hidden;
  z-index: 1111;
}

.hero-hover-a:hover::before {
  visibility: visible;
}

.h-left-hero-img {
  position: relative;
}
.h-left-hero-img::before {
  content: '';
  width: 250px;
  height: 250px;
  display: block;
  background-image: url(../img/hover1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 100px;
  left: 22px;
  transition: 0.2s;
  visibility: hidden;
  z-index: 1111;
}

.h-left-hero-img:hover::before {
  visibility: visible;
}

.hero-img-text {
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}
.tt-hover img {
  max-width: 100%;
}
.tt-hover {
  position: absolute;
  top: -153px;
  left: -171px;
  transition: 0.2s;
  visibility: hidden;
}
.hero-img-text:hover .tt-hover {
  visibility: visible;
}

.hero-rt-img {
  position: relative;
}

.hero-rt-img::before {
  content: '';
  width: 350px;
  height: 350px;
  display: block;
  background-image: url(../img/hover1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 120px;
  left: 25%;
  transition: 0.2s;
  visibility: hidden;
  z-index: 1111;
}

.hero-rt-img:hover::before {
  visibility: visible;
}

.hero-rt-text {
  position: relative;
}

.tt-hover2 {
  position: absolute;
  top: -153px;
  right: -18%;
  transition: 0.2s;
  visibility: hidden;
  cursor: pointer;
}

.hero-rt-text:hover .tt-hover2 {
  visibility: visible;
}

.footer-top-item {
  position: relative;
}

.footer-top-item::before {
  content: '';
  width: 200px;
  height: 200px;
  display: block;
  background-image: url(../img/hover1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  visibility: hidden;
  z-index: 1111;
}

.footer-top-item:hover::before {
  visibility: visible;
}

/* =============== */
.hero-img-text3 {
  position: relative;
}
.tt-hover3 img {
  width: 500px !important;
}

.tt-hover3 {
  position: absolute;
  top: -133px;
  left: 25px;
  transition: 0.2s;
  visibility: hidden;
}

.hero-img-text3:hover .tt-hover3 {
  visibility: visible;
}

/* ========== end page design============ */
/*  ========== hero-img start =========== */

.hero-area.hero-areaHome .hero-wrapper {
  padding: 45px 0 60px 0;
}
.hero-area.hero-areaHome .hero-arro-2 {
  position: absolute;
  top: 40px;
  right: -100px;
}
.hero-area.hero-areaHome .hero-right h4 {
  padding-right: 0;
  text-align: center;
}
.hero-area.hero-areaHome {
}

.hero-img {
  padding-top: 60px;
  margin-bottom: -40px;
  position: relative;
  z-index: 9;
}
.hero-img img {
  position: relative;
  max-width: 1248px;
  display: block;
  margin: auto;
  width: 100%;
}
.hero-area2 .hero-right {
  margin-top: -167px;
  text-align: right;
  max-width: 440px;
}
/* .hero-area2 .hero-right img{
    max-width: 405px;
} */
.slider-wrapp {
  max-width: 100%;
  margin-top: 0;
}
.slider-wrapp0101.slider-wrapp .item12-slider {
  text-align: left;
}
.slider-wrapp0101.slider-wrapp .slick-list.draggable {
  padding-bottom: 40px;
  padding-top: 35px;
}
.slider-wrapp .item12-slider {
  margin-top: 130px;
}
.slider-wrapp .slider-hero {
}
.slider-wrapp .hero-slider-item {
}
.slider-wrapp .hero-slider-item h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 36px;
}
.slider-wrapp .hero-slider-item p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 160%;
  color: #ffffff;
}
.slider-wrapp .arrow {
  display: flex;
  justify-content: space-between;
  max-width: 90px;
  margin-top: -41px;
}
.slider-wrapp .arrow div {
  display: inline-block;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}
.slider-wrapp .arrow div img {
  min-width: 14px;
}
.slider-wrapp .arrow .next {
  margin-left: 40px;
}
.slider-wrapp .arrow .prev {
  margin-right: 40px;
}
.slider-wrapp .arrow .slick-disabled {
  opacity: 0.5;
  cursor: auto;
}
.slider-wrapp .slick-dots {
  display: block;
  padding-left: 0;
  text-align: center;
  margin-left: -3px;
  max-width: 105px;
  margin-top: -100px;
}
.slider-wrapp .slick-dots li {
  display: inline-block;
  margin: 0 4px;
}
.slider-wrapp .slick-dots li button {
  padding: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #fff;
  position: relative;
  z-index: 999;
  font-family: 'Courier';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.25em;
  color: #ffffff;
}
.slider-wrapp .slick-dots li.slick-active button {
  border-color: transparent !important;
}
.slider-wrapp .slick-list.draggable {
  padding-bottom: 160px;
}
.hero-area2.hero-area {
  padding: 100px 0 120px;
}
.hero-area2.hero-area .hero-scroll-bottom a {
  bottom: 0;
}
.slider010-item {
  position: relative;
}
.hero-area2.hero-area .hero-liness {
  position: absolute;
  top: 48px;
  left: 0;
  width: 140%;
}
.hero-area2 .hero-wrapper {
  padding: 0;
}
/* ==================== arrow0-down start ============= */
.arrow0-down {
  background-color: #000;
}
.arrow01-down0 img {
  padding-left: 10%;
}
.arrow0-down img {
  margin-top: -60px;
  position: relative;
}
.arrow0-down .box {
}
.arrow0-down .box h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  margin-top: 40px;
  font-size: 72px;
  line-height: 120%;
}

/* ================== Benefits  start ==============  */
.Benefits {
  padding-top: 110px;
  padding-bottom: 150px;
  background-color: #000;
}
.Benefits .Benefits-inner {
}
.Benefits .Benefits-inner .nav {
  border-width: 3px;
  margin-bottom: 80px;
}
.Benefits .Benefits-inner .nav .nav-item {
}
.Benefits .Benefits-inner .nav .nav-item button span {
  transition: all ease 0.6s;
}
.Benefits .Benefits-inner .nav .nav-item button.active span {
  position: relative;
  display: block;
  bottom: -5px;
  transition: all ease 0.6s;
}
.Benefits .Benefits-inner .nav .nav-item button.active {
  border-bottom: 0;
  border-width: 3px;
  z-index: 999;
  background-color: #000;
  color: #26b0b0;
}
.Benefits .Benefits-inner .nav .nav-item button:hover {
  border-width: 3px;
  border-bottom: 0;
}
.Benefits .Benefits-inner .nav .nav-item button {
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  padding: 12px 20px 0px 20px;
  position: relative;
  border-width: 3px;
  bottom: -2px;
  border-bottom: 0 !important;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
}
.Benefits .tab-content {
}
.Benefits .tab-content .tab-pane {
}
.Benefits .tab-content .tab-pane .benefits-item {
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex {
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex .item01 {
  border: 4.5414px solid #26b0b0;
  text-align: center;
  padding: 45px 50px;
  color: #fff;
  max-width: 586px;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex .item01 img {
  margin-bottom: 25px;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex .item01 p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex .item01-img {
  padding-right: 15px;
  padding-left: 5px;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex .item01-img img {
  width: 120px;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex.item002 {
  text-align: center;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex.item002 .item1 {
  width: 606px;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex.item002 .item1 img {
  width: 160px;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex.item002 .item2 {
  width: 450px;
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex.item002 .item2 img {
}
.Benefits .tab-content .tab-pane .benefits-item .d-flex.item003 {
  margin-top: -110px;
}
.Benefits .container {
  max-width: 1339px;
}
/* ================== Benefits  end ==============  */

/* ============ Bridging start ============== */
.Bridging {
  padding: 65px 0;
  position: relative;
}
.Bridging.Bridging1001 .item-right {
  margin-bottom: -140px;
}
.Bridging.Bridging1001 .container {
  max-width: 1520px;
}
.Bridging.Bridging1001 {
  padding: 88px 0 130px 0;
}
.Bridging.Bridging1001 .slider-wrapp .slick-dots {
  max-width: 35%;
  margin-left: 0 !important;
  margin-top: -60px;
}
.Bridging.Bridging1001 .slider-wrapp .arrow {
  margin-left: 0;
  max-width: 35%;
  margin-top: -41px;
}
/* .Bridging.Bridging1001 .slider-wrapp .slick-list.draggable {
    padding-bottom: 0;
} */
.Bridging .slider-wrapp {
  max-width: 100%;
  margin-top: 0;
}
.Bridging .slider-wrapp .slick-dots {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}
.Bridging .slider-wrapp .hero-slider-item h4 span {
  color: #26b0b0;
}
.Bridging .slider-wrapp .hero-slider-item h4 {
  margin-bottom: 42px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #000000;
  font-size: 48px;
}
.Bridging .slider-wrapp .slick-dots li button {
  color: #000000;
  border-bottom: 1px solid #000;
}
.Bridging .slider-wrapp .arrow {
  display: flex;
  justify-content: center;
  max-width: 45%;
  margin-top: -39px;
  margin-left: auto;
  margin-right: auto;
}
.Bridging .item-right {
  padding-left: 160px;
}
.Bridging .item-right span.number {
  display: block;
  font-family: 'Courier';
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 138px;
  color: #26b0b0;
}
.Bridging .item-right .item-p-left {
  padding-left: 0;
}
.Bridging .item-right .item-p-left h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 27.2484px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 15px;
  font-size: 36px;
  line-height: 130%;
}
.Bridging .item-right .item-p-left p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30.72px;
  line-height: 150%;
}
.Bridging .midle-img {
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  max-width: 290px;
}
.Bridging .midle-img img {
}
.Bridging.Bridging010 .slider-wrapp .arrow {
  margin-left: 0;
  margin-right: 0;
}
.Bridging.Bridging010 .slider-wrapp .slick-dots {
  margin-top: -70px;
  margin-left: 0;
  margin-right: 0;
  max-width: 44.5%;
}
.Bridging.Bridging010 {
}
/* ============ Bridging end ============== */

/* ========= KeyFeatures start ============== */
.KeyFeatures {
  position: relative;
  padding-top: 85px;
  padding-bottom: 170px;
  overflow: hidden;
}
.KeyFeatures::before {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  height: 100%;
  width: 200px;
  background: #ffffffd6;
  filter: blur(36.4722px);
  z-index: 99;
}
.KeyFeatures h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 35px;
}
.KeyFeatures .KeyFeatures_slider {
  margin-left: -40px;
  margin-right: -40px;
}
.KeyFeatures .KeyFeatures_slider .KeyFeatures-sitem {
  margin-left: 40px;
  margin-right: 40px;
}
.KeyFeatures .KeyFeatures_slider .KeyFeatures-sitem h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 29.1778px;
  line-height: 130%;
  margin-bottom: 6px;
  color: #000000;
}
.KeyFeatures .KeyFeatures_slider .KeyFeatures-sitem p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 19.4519px;
  line-height: 150%;
  color: #000000;
}
.KeyFeatures .KeyFeatures_slider .KeyFeatures-sitem img {
  margin-bottom: 20px;
}
.KeyFeatures .slick-list.draggable {
  padding-right: 45%;
}
.KeyFeatures .slick-dots {
  display: flex;
  justify-content: space-between;
  background: #d9d9d9;
  position: relative;
  z-index: 99;
  width: 90%;
  margin: 0 auto;
}
.KeyFeatures .slick-dots li {
  width: 50%;
}
.KeyFeatures .slick-dots li.slick-active button {
  background: #26b0b0;
}
.KeyFeatures .slick-dots li button {
  font-size: 0;
  display: block;
  width: 100%;
  border: 0;
  height: 6px;
}
.KeyFeatures .arrow {
  display: flex;
  justify-content: space-between;
  margin-top: -24px;
}
.KeyFeatures .arrow img {
  position: relative;
  z-index: 999;
  cursor: pointer;
}
.KeyFeatures .arrow .slick-disabled {
  opacity: 0;
}
.KeyFeatures .arrow .prev {
}
.KeyFeatures .arrow .next {
}
/* ========= KeyFeatures end ============== */

/* ============== Downloads start ============ */
.Downloads {
  background-image: url(../img/pdf-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 110px;
  background-color: #000;
  padding-bottom: 180px;
}
.Downloads .box {
  background: #ffffff;
  border: 4px solid #26b0b0;
  padding: 75px 94px;
  margin: auto;
}
.Downloads .box h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #000000;
}
.Downloads .box ul {
  border-top: 4px solid #121111;
  margin-top: 24px;
}
.Downloads .box ul li {
  border-bottom: 4px solid #121111;
}
.Downloads .box ul li a {
  display: block;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
  padding: 23px 0;
}
.Downloads .box ul li a img {
  max-width: 100%;
  margin-right: 24px;
}
.Downloads .box ul li a span {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  display: inline-block;
}
/* ============== Downloads end ============ */

/* ============== Would you start ============ */
.WouldYou {
  background-image: url(../img/wouldYou.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #000;
  padding: 300px 0 120px 0;
}
.WouldYou .box {
  margin: 0 auto;
}
.WouldYou .box h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 60px;
}
.WouldYou .box a span {
  text-decoration: underline;
  display: inline-block;
}
.WouldYou .box a {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-decoration-line: underline;
  color: #ffffff;
  text-decoration: none;
}
/* ============== Would you end ============ */

/* ============== About Us start ============== */
.hero-area-aboutus {
}
.hero-area0101 {
  padding-bottom: 40px !important;
}
.hero-area-aboutus p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;
  max-width: 720px;
  font-size: 56px;
}
.hero-area-aboutus img {
  max-width: 26px;
  margin-left: 35px;
}
.hero-area3 {
  padding-bottom: 144px;
  padding-top: 160px;
}
.hero-area3 .Bridging {
  padding: 0;
}

.hero-area3 .Bridging .midle-img {
  left: 50%;
  top: 45%;
}
.hero-area3 .Bridging .midle-img img {
  max-width: 204px;
}
.hero-area3 .Bridging .slider-wrapp {
}
.hero-area3 .Bridging .slider-wrapp .slider-hero {
}
.hero-area3 .Bridging .slider-wrapp .slider-hero .hero-slider-item {
  margin: 0 5px;
}
.hero-area3 .Bridging .slider-wrapp .slider-hero .hero-slider-item h4 {
  color: #fff;
  font-size: 48px;
  max-width: 600px;
  margin-bottom: 40px;
}
.hero-area3 .Bridging .slider-wrapp .slider-hero .hero-slider-item img {
  width: 588px;
}
.hero-area3 .Bridging .slider-wrapp .slider-hero .arrow {
}
.hero-area3 .Bridging .slider-wrapp .slider-hero .arrow .prev {
}
.hero-area3 .Bridging .slider-wrapp .slider-hero .arrow .next {
}
.hero-area3 .Bridging .item-right {
  position: relative;
  margin-bottom: -150px;
}
.hero-area3 .Bridging .item-right .number {
}
.hero-area3 .Bridging .item-right .item-p-left {
  max-width: 600px;
}
.hero-area3 .Bridging .item-right .item-p-left h4 {
  color: #fff;
}
.hero-area3 .Bridging .item-right .item-p-left p {
  color: #fff;
}
.hero-area3 .hero-scroll-bottom a {
  bottom: 175px;
  left: 0;
  right: 60px;
}
.hero-area3 .Bridging .slider-wrapp .slick-dots li button {
  border-bottom: 1px solid #fff;
  font-family: 'Courier';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.25em;
  color: #ffffff;
}
/* ============== About Us end ============== */
.WouldYou2 {
  background-image: url('../img/wouldYou2.png');
}

/* ============ video-wrapp start =============== */
.video-wrapp {
  background-color: #000;
}
.video-wrapp .ratio {
  margin-left: auto;
  margin-right: auto;
}
/* ============ video-wrapp end ================ */
/* ============ Partner start ================ */
.Partner {
  background-color: #000;
  padding-bottom: 260px;
  padding-top: 190px;
}
.Partner .box {
  margin: auto;
}
.Partner .box h2 {
  letter-spacing: 0.02em;
  margin: auto;
  margin-bottom: 100px;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  color: #ffffff;
}
.Partner .box-img {
  background: #ffffff;
  border: 4.85239px solid #26b0b0;
  padding: 20px 45px 20px 45px;
  position: relative;
  overflow: hidden;
}
.Partner .box-img .overlay-img {
  bottom: 0;
  position: absolute;
  left: 0;
  z-index: 999;
  right: 0;
  width: 100%;
  height: 100%;
}
.Partner .box-img .overlay-img img {
}
.Partner .box-img .d-flex {
}
.Partner .box-img .d-flex .item {
  align-self: center;
  margin: 15px;
}
.Partner .box-img .d-flex .item img {
}
.Partner .box-img .d-flex .item:nth-child(1) {
}
.Partner .box-img .d-flex .item:nth-child(2) {
}
.Partner .box-img .d-flex .item:nth-child(3) {
}
/* ============ Partner end ================ */
/* ============ WhatCharacterizes start ================ */
.WhatCharacterizes {
  background-color: #000;
  padding: 150px 0 165px 0;
}
.WhatCharacterizes .container,
.video-wrapp .container,
.Partner .container,
.Downloads .container,
.WouldYou .container {
  max-width: 1231px;
}
.WhatCharacterizes .what-top {
  max-width: 500px;
}
.WhatCharacterizes .what-top h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #ffffff;
  font-size: 48px;
}
.WhatCharacterizes .what-top img {
}
.WhatCharacterizes .box,
.WhatCharacterizes .what-top-wrapp {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.WhatCharacterizes .box .box-item {
  border: 4.85239px solid #26b0b0;
  padding: 22.6445px 29.1143px;
  max-width: 628px;
  width: 100%;
  margin-right: 18.5px;
}
.WhatCharacterizes .box .box-item:last-child {
  margin-right: 0;
  margin-left: 18.5px;
}
.WhatCharacterizes .box .box-item img {
  margin-bottom: 16px;
  max-width: 104px;
}
.WhatCharacterizes .box .box-item p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #ffffff;
  font-size: 24px;
}
/* ============ WhatCharacterizes end ================ */
/* ============ Team start ================ */
.Team {
  background-color: #000;
}
.Team .container {
  max-width: 1519px;
}
.Team h2.teamH2 {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: auto;
  margin-bottom: 125px;
}
.Team .box {
  margin: auto;
}
.Team .box .accordion {
  border-top: 3px solid #fff !important;
}
.Team .box .accordion .accordion-item {
  background: transparent;
}
.Team .box .accordion .accordion-item .accordion-header {
}
.Team
  .box
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button::after {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto;
  content: '';
  background-image: url(../img/mobile-bottom.png);
  background-repeat: no-repeat;
  background-size: 1.25rem;
  position: absolute;
  left: 20px;
  transition: 0.5s !important;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.Team
  .box
  .accordion
  .accordion-item
  .accordion-header
  .accordion-button:not(.collapsed)::after {
  background-image: url(../img/mobile-tops.png);
  transform: translateY(-50%) rotate(0deg);
  transition: 0.5s !important;
  background-size: 40px;
  width: 45px;
}
.Team .box .accordion .accordion-item .accordion-header button {
  font-family: 'Fira Sans';
  font-weight: 500;
  color: #ffffff;
  padding: 35px 0 !important;
  box-shadow: none;
  border-radius: 0;
  font-style: initial;
  font-size: 36px;
  line-height: 130%;
}
.Team .box .accordion .collapseOne {
}
.Team .box .accordion .accordion-body {
  padding: 0;
}
.Team .box .accordion .accordion-body .team-body {
}
.Team .box .accordion .accordion-body .team-body .item-team-left {
}
.Team .box .accordion .accordion-body .team-body .item-team-left img {
  max-width: 362px;
}
.Team .box .accordion .accordion-body .team-body .item-team-right {
  margin-left: 78px;
  margin-right: 20px;
}
.Team .box .accordion .accordion-body .team-body .item-team-right p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 30.72px;
  line-height: 150%;
}

/* ============ Team end ================ */
/* ============ header-privacy start ================ */
.header-privacy.fixed-menu {
  background: #fff !important;
}

.hero-privacy {
  background: transparent;
  overflow: inherit;
  transition: all ease 0.6s;
}
.arrow-show:hover .arrow-show-item a {
  opacity: 1;
  transition: all ease 0.6s;
}
.arrow-show .arrow-show-item a {
  position: absolute;
  left: 0;
  top: 70px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  transition: all ease 0.6s;
}
@media (max-width: 576px) {
  .arrow-show-item a {
    opacity: 1 !important;
  }
}
.arrow-show .arrow-show-item a img {
  width: 60px;
}
@media (max-width: 768px) and (min-width: 576px) {
  .privacy-arrow-section .arrow-show-item a img {
    transform: translate(100px, -50px);
  }
}
@media (min-width: 1024px) {
  .everaxk-arrow-section {
    position: absolute !important;
    height: 357px !important; 
    width: 467px !important;
  }
  .everaxk-arrow-section .arrow-show-item a img {
    height: 357px !important; 
    width: 400px !important; 
    transform: translate(5%, -20%);
  }
  .everaxk-arrow-section .arrow-show-item a img {
    opacity: 0;
  }
  .everaxk-arrow-section:hover .arrow-show-item a img {
    opacity: 1;
  }
}
/* ============ header-privacy end ================ */
/* ============ DataPrivacy start ================ */
.DataPrivacy {
  margin-top: -45px;
  padding-bottom: 360px;
}
.DataPrivacy .hover::before {
  content: '';
  width: 70px;
  height: 70px;
}
.DataPrivacy h1 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #000000;
  font-size: 72px;
}
.DataPrivacy .box {
  padding-top: 140px;
}
.DataPrivacy .box h2 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 48px;
}
.DataPrivacy .box p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #000000;
  margin-bottom: 48px;
  font-size: 30.72px;
}
.DataPrivacy .box p a {
  text-decoration-line: underline;
  color: #000;
}
.DataPrivacy .box p:last-child {
  margin-bottom: 0;
}
.DataPrivacy .container {
  max-width: 1130px;
}
.DataPrivacy .box ul {
  list-style: disc;
  padding-left: 40px;
  margin-bottom: 48px;
}
.DataPrivacy .box ul li {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #000000;
  margin-bottom: 10px;
  font-size: 30.72px;
}
/* ============ DataPrivacy end ================ */
/* ============ Legal Notice start ================ */
.Downloads.bg-white {
  background-image: url(../img/pdf-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 108px;
  background-color: #000;
  padding-bottom: 108px;
}

/* ============ Legal Notice end ================ */
/* ============ articale01 start ================ */
.articale01 {
  margin-top: -40px;
}
.articale01 .container {
  max-width: 1130px;
}
.articale01 .box-top {
  margin-bottom: 104px;
}
.articale01 .box-top h1 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 10px;
  color: #000000;
  font-size: 72px;
}
.articale01 .box-top p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #000000;
  font-size: 24px;
}
.articale01 .box-item01 {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  padding: 40px 0;
  margin-bottom: 144px;
}
.articale01 p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30.72px;
  line-height: 150%;
  color: #000000;
}
.media {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media-body {
  -ms-flex: 1;
  flex: 1;
}
.articale01 .box-item01 p {
}
.articale01 .box-item02 {
  margin-bottom: 144px;
}
.articale01 .box-item02 p {
}
.articale01 .box-img {
  margin: 144px 0;
}
.articale01 .box-img img {
  width: 100%;
}
.articale01 .box-item03 {
  padding: 48px 40px;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-bottom: 110px;
}
.articale01 .box-item03 .media {
  max-width: 665px;
  margin-left: auto;
  margin-right: auto;
}
.articale01 .box-item03 .media img {
  margin-right: 30px;
}
.articale01 .box-item03 .media .media-body {
}
.articale01 .box-item03 .media .media-body p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #1d1d1b;
}
.articale01 .box-item04 {
  margin-bottom: 144px;
}
.articale01 .box-item04 h4 {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: #000000;
  margin-bottom: 48px;
  font-size: 48px;
}
.articale01 .box-item04 p {
}
.articale01 .box-item05 {
  border-top: 2px solid #121111;
  padding-top: 23px;
  margin-bottom: 108px;
}
.articale01 .box-item05 p {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #000000;
  font-size: 24px;
}
/* ============ articale01 end ================ */
.hover-item:hover::before {
  visibility: visible !important;
  transition: 0.2s;
}

.hover-item::before {
  content: '';
  width: 100px;
  height: 100px;
  display: block;
  background-image: url(../img/hover1.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  transition: 0.2s;
  visibility: hidden;
  z-index: 1111;
  transition: 0.2s;
}
.accordion-item .hover-item::before {
  width: 150px;
  height: 150px;
  left: 10px;
}
